
.background{
    background: #C4FFEA;
    width: 100%;
    height: 100px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    
}
.logo{
    width: 350px;   
}
.logo img{
    max-width: 100%;    
}
.logo img{

}
.contenedor{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    box-sizing: border-box;
}

.buscador{
    width: 40%;
    display: flex;
    background-color: #0B9599;
    padding: 5px;
    border-radius: 15px;
    align-items: center;
}
.search{
    width: -webkit-fill-available;
    border-radius: 15px;
    border: none;
    margin: 5px;
    padding: 15px 10px;
    font-size: 20px;
        text-align: center;
        color: grey;
}
.fa-search{
    font-size: 30px;
    width: 50px;
}
.buscador button{
   background: #0B9599;
   border: none;
   height: 50px;
}
.btn{
    background: #0B9599;
    border: solid 1px #0B9599;
    border-radius: 15px;
    margin:0 10px;
}
i {
    color : white;
    font-size: 50px;
    padding: 10px;
}
.orange:hover{
    background: #FE773F;
    border: solid 1px #FE773F;

}
.red:hover{
    background: #EE2026;
    border: solid 1px #EE2026;
}
.menu-block{
    text-decoration: none;
    position: absolute;
    justify-content: flex-end;
    list-style: none;
    text-align: center;
    background-color:  #0B9599;
    width: fit-content;
    height: auto;
    border-radius: 10px;
    margin-top: 5px;
    display: none ;
    font-size: larger;
    z-index: 30;
}

.menu:hover > .menu-block{
    display:block;
    
}
.menu-block li{
    list-style: none;
    color:white;
    border-bottom: 1px solid white;
    margin-top: 10px;
}
.menu-block a{
    margin-top: 2px;
    text-decoration: none;
    color: white;
}
.menu-block a:hover{
    color: #A2EA2F;
}
#btn-menu{
    display: none;
}
.menu-block.is-active{
    margin-right: 15%;
 /*    transform: translateX(-100%);
    transition: all 0.3s; */
}
.menu-block ul{
    padding: 0 10px;
} 
.menu-list{
    display: block;

} 

@media(max-width:868px){
    .buscador{
        display: none;
    }
    .background{
        height: 70px;
        margin: 40px 0 30px;
    }
    .logo{
        height: 150px;
    }
    .btn{
        padding: 0;
        border-radius: 10px;
        margin: 0 5px;
    }
    i{
        font-size: 20px;
    }
    .menu-block.is-active{
        margin-right: 0;
     /*    transform: translateX(-100%);
        transition: all 0.3s; */
        right: 0;
    }
}