
.background{
    margin-top: 60px;
    background: #C4FFEA;
    height: 110px;
    width: 100%;
}
.nav-bar{
    display: flex;
    margin: -50px 50px;
    justify-content: space-evenly;
}
.logo{
    margin-top: -130px;
    height: 270px ;   
}
.logo img{
    height: 100%;
}
.container{
    display: flex;
    margin: -45px 0;
    height: 10%;
    justify-content: space-evenly;
}

.buscador{
    margin: auto 0;
    width: 40%;
    display: inherit;
    background-color: #0B9599;
    padding: 5px;
    border-radius: 15px;
}
.search{
    width: -webkit-fill-available;
    border-radius: 15px;
    border: none;
    margin: 5px;
}
.fa-search{
    font-size: 30px;
    width: 50px;
}
.buscador button{
   background: #0B9599;
   border: none;
   height: 50px;
}
.btn{
    background: #0B9599;
    border: solid 1px #0B9599;
    border-radius: 15px;
    margin:0 15px;
}
i {
    color : white;
    width: 100px;
    font-size: 50px;
    padding: 10px;
}
.orange:hover{
    background: #FE773F;
    border: solid 1px #FE773F;

}
.red:hover{
    background: #EE2026;
    border: solid 1px #EE2026;
}
.menu-block{
    text-decoration: none;
    position: absolute;
    justify-content: flex-end;
    list-style: none;
    text-align: center;
    background-color:  #0B9599;
    width: fit-content;
    height: auto;
    border-radius: 10px;
    margin-top: 2px;
    display: none ;
    font-size: larger;
    z-index: 1;
}

.menu:hover > .menu-block{
    display:block;
    
}
.menu-block li{
    list-style: none;
    color:white;
    border-bottom: 1px solid white;
    margin-top: 10px;
}
.menu-block a{
    margin-top: 2px;
    text-decoration: none;
    color: white;
}
.menu-block a:hover{
    color: #A2EA2F;
}
#btn-menu{
    display: none;
}
.menu-block.is-active{
    margin-right: 15%;
 /*    transform: translateX(-100%);
    transition: all 0.3s; */
}
.menu-block ul{
    padding: 0 10px;
} 
.menu-list{
    display: block;

} 

@media(max-width:868px){
    .buscador{
        display: none;
    }
    .background{
        height: 110px;
    }
    .logo{
        height: 250px;
    }
    i{
        font-size: 30px;
        width: 80px;
    }
}