<div class="body">
    <div class="contenedor">
        <div class="caja">
            <img src="assets/img/logo.png" alt="">
        </div>
        <div class="caja-abajo">
            <div class="titulo">
                Login
            </div>
            <div class="caja-abajo2">
                <div class="text-center">

                    <div class="form-group">
                        <input type="email" name="email" class="form-control text-center email" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Email" [(ngModel)]="UserHTML.email">
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" class="form-control text-center password"
                            id="exampleInputPassword1" placeholder="Contraseña" [(ngModel)]="UserHTML.password">
                    </div>

                    <button class="botonEntrar" (click)="loginUser()">Entrar</button>

                    <div class="registro">
                        <p>¿Quieres registrar a tu hijo?</p>
                        <button class="botonRegistro" [routerLink]="['/auth/register']">Registrarse</button>
                    </div>

                </div>

            </div>
        </div>


    </div>
</div>