<div class="body">
    <div class="contenedor">
        <div class="caja">
            <img src="assets/img/logo.png" alt="">
        </div>
        <div class="caja-abajo">
            <div class="titulo">
                Login
            </div>
            <div class="caja-abajo2">
                <form class="text-center">

                    <div class="form-group">
                        <input type="email" class="form-control text-center email" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control text-center password" id="exampleInputPassword1"
                            placeholder="Contraseña">
                    </div>

                    <button type="submit" class="botonEntrar">Entrar</button>

                    <div class="registro">
                        <p>¿Quieres registrar a tu hijo?</p>
                        <button class="botonRegistro" [routerLink]="['/auth/register']"  >Registrarse</button>
                    </div>

                </form>

            </div>
        </div>


    </div>
</div>