*{
    box-sizing: border-box;
}

.body{
    font-family: 'Baloo Paaji 2';
    width: 100%;
    min-height: 100%;
    height: auto !important;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor{
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.caja {
    margin-top: 20px;
    width: 80%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.caja img{
    width: 50%;
}

.caja-abajo{
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: center;
    color : rgb(196, 255, 234);
    flex-wrap: wrap;

}

.caja-abajo2{
    width: 55%;
    font-family: 'Roboto', sans-serif;
}

.caja-abajo .titulo {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    color : rgb(196, 255, 234);
    font-size: 50px;
}

.separacion-botones{
    display: flex;
    justify-content: space-between;
}


.caja-abajo2 .botonEntrar{
    border: none;
    border-radius: 8px;
    font-family: 'Baloo Paaji 2';
    width: 48%;
    font-size: 20px;
    background: #0B9599;
    color : rgb(196, 255, 234);
    
}

.caja-abajo2 .botonEntrar:hover{

    background: rgb(5, 91, 94);
    color : rgb(196, 255, 234);
    
}

.caja-abajo2 .volver{
    border: none;
    border-radius: 8px;
    font-family: 'Baloo Paaji 2';
    width: 48%;
    font-size: 20px;
    background: #FE8481;
    color : rgb(196, 255, 234);
    
}

.caja-abajo2 .volver:hover{

    background: rgb(241, 92, 89);
    color : rgb(196, 255, 234);
}


.email, .password{
    border-radius: 9px;
}


