<div class="container">
    <span class="title">Editar Perfil</span>
    <span class="sub-title"><h4>Elige el perfil a modificar</h4></span>
    <div class="row d-flex justify-content-center">
        <div *ngFor="let profile of profiles" class="avatar col-3 ">
            <div class="col-12 text-center m-2 ">
                <button class="btn btn-info btn-sm m-2 rounded-lg" (click)="getNickname(profile.name)">
                    <img [src]="profile.avatarUrl">
                    <div>
                        <h4 class="text-center">{{profile.name}}</h4>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container editprofile">
    <div class="container">
        <form class="text-center ">

        <div class="form-group ">
            <input type="select" class="form-control form-control-sm text-center email" id="selectNickname"
                aria-describedby="emailHelp" placeholder="{{nickname}}">
        </div>

        <div class="form-group">
            <input type="text" class="form-control form-control-sm text-center email" placeholder="Cambiar Nickname">
        </div>

        <div class="form-group">
            <input type="password" class="form-control form-control-sm text-center email" placeholder="Confirma tu Contraseña">
        </div>

        <div class="separacion-botones">
            <button class="volver" [routerLink]="['/home/home']"  >Salir</button>
            <button type="submit" class="botonModificar">Modificar</button>
        </div>

        </form>
    </div>
</div>
