
<div class="container">
  <div class="title">
    <h1>Subir video</h1>
  </div>
    <form class="text-center ">
    <div class="container formulario">
        <div class="form-group ">
        <input type="select" class="form-control form-control-sm text-center name" id="selectName"
            aria-describedby="emailHelp" placeholder="Titulo del Video" name="name" [(ngModel)]="film.name">
        </div>

        <div class="form-group">
        <input type="text" class="form-control form-control-sm text-center email" placeholder="Seleccionar Categoria" name="category" [(ngModel)]="film.category">
        </div>

        <div class="form-group">
        <input type="url" class="form-control form-control-sm text-center email" placeholder="Ingresa URL del video" name="url" [(ngModel)]="film.url">
        </div>

        <div class="form-group">
          <input type="url" class="form-control form-control-sm text-center email" placeholder="Ingresa URL de la imagen" name="urlImage" [(ngModel)]="film.urlImage">
          </div>

        <div class="separacion-botones">
          <button class="volver" [routerLink]="['/home/home']"  >Salir</button>
          <button type="submit" class="botonGuardar" (click)="createFilm()">Guardar</button>
        </div>

    </div>
    <div class="container preview">
        <div class="video-preview">
          <div class="titulo">
            title
          </div>
        </div>

    </div>
  </form>
</div>


