<div class="container">
    <span class="title">Agregar un nuevo perfil</span><br>
    <span>
        <p>Bienvenido(a) a BICTIA Play KIDS una plataforma pensada en la diversion, entretenimiento y aprendizaje de los
            niños, acontinuacion podras crear un perfil para un niño y que pueda disfrutar de todo nuestro contenido.
        </p>
    </span>
    <span class="sub-title">
        <h4>Elige un avatar</h4>
    </span>
    <div class="row">
        <div  *ngIf="profile.avatarUrl !== ''" class="avatar" style="cursor: pointer;"><img [src]="profile.avatarUrl" alt="a"></div>

        <div href="#ventana" data-toggle="modal" class="avatar" style="cursor: pointer;"><i class="fas fa-plus-square"></i></div>

        <div class="mol modal" tabindex="-1" role="dialog" id="ventana">
            <div class="modal-dialog modal-lg " role="document">
                <div class="modal-content">
                    <div class="modal-header ">
                        <h5 class="titulo-modal modal-title col-12 text-center">Elige tu avatar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card-deck d-flex justify-content-center">
                            <div class="avatar" (click)="getUrl('3')">
                                <button class="btn btn-info btn-sm m-2">
                                    <img src="https://lh3.googleusercontent.com/proxy/mYgvsDOl4XEWZZQVgMaJ8dsDSexyYQkpfDqqj_OnYDAFcMJ4QlUk3XjPwHiehCHY3L05TEqZlDZLdJZr9asor3tXDIf2ALmv3FbgdeVlsUvaUSJnyurLFtepOA"
                                        alt="">
                                </button>
                            </div>
                            <div class="avatar" (click)="getUrl('4')">
                                <button class="btn btn-info btn-sm m-2">
                                    <img src="https://i.pinimg.com/originals/08/ac/87/08ac87dbf626296177949d1add13700b.gif"
                                        alt="">
                                </button>
                            </div>
                            <div class="avatar" (click)="getUrl('5')">
                                <button class="btn btn-info btn-sm m-2">
                                    <img src="https://images.vexels.com/media/users/3/128647/isolated/lists/aee14c147b20d3c3244cad76322a06d0-divertidos-dibujos-animados-de-rinoceronte.png"
                                        alt="">
                                </button>
                            </div>
                            <div class="avatar" (click)="getUrl('6')">
                                <button class="btn btn-info btn-sm m-2">
                                    <img src="https://vignette.wikia.nocookie.net/universe-of-smash-bros-lawl/images/0/0f/Ed5c13d68b783d31ba157e4a13d4dfd1.png/revision/latest?cb=20180518111508"
                                        alt="">
                                </button>
                            </div>
                            <div class="avatar" (click)="getUrl('7')">
                                <button class="btn btn-info btn-sm m-2">
                                    <img src="https://img.cartoongoodies.com/wp-content/uploads/2019/11/Dora-the-Explorer-Boots-sitting.png"
                                        alt="">
                                </button>
                            </div>
                            <div class="avatar" (click)="getUrl('8')">
                                <button class="btn btn-info btn-sm m-2">
                                    <img src="https://i.pinimg.com/originals/90/ae/14/90ae1493c6603fabf6e0480aab6af234.png"
                                        alt="">
                                </button>
                            </div>
                            <div class="avatar" (click)="getUrl('9')">
                                <button class="btn btn-info btn-sm m-2">
                                    <img src="https://es.seaicons.com/wp-content/uploads/2016/06/Cars-pixar-4-icon.png"
                                        alt="">
                                </button>
                            </div>
                            <div class="avatar" (click)="getUrl('10')">
                                <button class="btn btn-info btn-sm m-2">
                                    <img src="https://4.bp.blogspot.com/-bUO4-KRV2CM/UZp5yn5kr7I/AAAAAAAAAEM/HZbcsZMIMOs/s1600/BY+0487MAY+Alenet21tutos+(6).png"
                                        alt="">
                                </button>
                            </div>
                            <div class="avatar" (click)="getUrl('11')">
                                <button class="btn btn-info btn-sm m-2">
                                    <img src="https://4.bp.blogspot.com/-2akwthftQSY/UZp5yPbkS8I/AAAAAAAAAD4/gKMMymWP958/s1600/BY+0487MAY+Alenet21tutos+(5).png"
                                        alt="">
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="volver" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="botonModificar" data-dismiss="modal">Guardar</button>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container editprofile">
    <div class="container">
        <form class="text-center ">

            <div class="form-group ">
                <input type="select" class="form-control form-control-sm text-center email" id="selectNickname"
                    aria-describedby="emailHelp" placeholder="Nickname" name="name" [(ngModel)]="profile.name">
            </div>

            <div class="form-group" style="display: flex; justify-content: space-around;">
                <label for="date" style="color: #C4FFEA ;">
                    <h5>Fecha de nacimiento</h5>
                </label>
                <input type="date" class="form-control form-control-sm text-center email"
                    placeholder="Fecha de nacimiento" style="max-width: 200px;" name="birthday"
                    [(ngModel)]="profile.birthday">
            </div>
            <div class="separacion-botones">
                <button class="volver" [routerLink]="['/home/home']">Salir</button>
                <button class="botonModificar" (click)="postProfile()">Agregar</button>
            </div>
        </form>
    </div>
</div>