<div class="discover">
    <div class="title">
        <h1>Tus favoritos</h1>
    </div>

    <div class="contenedorVideos">
        <div *ngFor="let video of films" class="cajaVideo">
            <div class="video">
                <div class="imagen">
                    <img src="assets/videosPreview/{{video.urlImage}}" alt="{{video.name}}">
                </div>
            </div>
            <div class="play" (click)="abrirVideo(video.url)">
                <i class="fab fa-youtube" id="youtube"></i>
            </div>
            <div class="nombre">
                {{video.name}}
                <div class="agregarFavorito" (click)="delFavorite(video._id)"><i class="fas fa-heart"></i></div>
            </div>
            
        </div>
    </div>
</div>
