<div class="container carousel">
    <div class="title">
        <h1>Ultimos estrenos</h1>
    </div>
    <div class="row blog">
        <div class="col-md-12">
            <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                <span class="carousel-indicators">
                    <i class="fas fa-arrow-circle-left fa-2x" data-target="#blogCarousel" data-slide-to="0"></i>
                    <i class="fas fa-arrow-circle-right fa-2x" data-target="#blogCarousel" data-slide-to="1"></i>
                </span>

                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4">
                                <iframe class="slider" src="https://www.youtube.com/embed/FRbV0nKN_ss" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                                <a href="#">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <iframe class="slider" src="https://www.youtube.com/embed/ELm4ZJDEFME"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <iframe class="slider" src="https://www.youtube.com/embed/UXujYNnPEsM"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </a>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="#">
                                    <iframe class="slider" src="https://www.youtube.com/embed/5ZCgbGgA-_8"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <iframe class="slider" src="https://www.youtube.com/embed/HGUQUUzJNdM"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="#">
                                    <iframe class="slider" src="https://www.youtube.com/embed/cxj7sdv6rn4"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </a>
                            </div>
                        </div>
                        <!--.row-->
                    </div>
                    <!--.item-->

                </div>
                <!--.carousel-inner-->
            </div>
            <!--.Carousel-->

        </div>
    </div>
</div>

<div class="discover">
    <div class="title">
        <h1>Descubre nuevas aventuras</h1>
    </div>
    <div class="row">
        <iframe src="https://www.youtube.com/embed/HGUQUUzJNdM" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/UXujYNnPEsM" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/FRbV0nKN_ss" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>