


<div class="container">
  <div class="title"><h1>Ultimos estrenos</h1></div>
      
      <div class="row slider">
        <span><i class="fas fa-arrow-circle-left fa-2x"></i></span>
        <div class="card"><iframe  src="https://www.youtube.com/embed/j_kOHrdh224" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="card"><iframe  src="https://www.youtube.com/embed/UXujYNnPEsM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <div class="card"><iframe  src="https://www.youtube.com/embed/cxj7sdv6rn4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <span><i class="fas fa-arrow-circle-right fa-2x"></i></span>
      </div>
    <div class="title"><h1>Descubre nuevas aventuras</h1></div>
        <div class="row">
          <div class="card"><iframe src="https://www.youtube.com/embed/j_kOHrdh224" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          <div class="card"><iframe  src="https://www.youtube.com/embed/UXujYNnPEsM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          <div class="card"><iframe  src="https://www.youtube.com/embed/cxj7sdv6rn4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
</div>