<div class="container">
    <span class="title">¿Quien esta viendo?</span>
    <div class="row">
        <div *ngFor="let profile of profiles" class="avatar col m-2">
            <button class="btn btn-info btn-sm m-2 rounded-lg" (click)="getId(profile._id, profile.name)">
                <img [src]="profile.avatarUrl">
                <div>
                    <h4 class="text-center">{{profile.name}}</h4>
                </div>
            </button>
        </div>
        <div class="avatar"><a [routerLink]="['/agregarPerfil']"><i class="fas fa-plus-square"></i></a><span>
                <h4>Agregar</h4>
            </span></div>
    </div>
    <div class="row">
        <button class="volver" [routerLink]="['/home/home']">Salir</button>
    </div>
</div>